Package: ${project.artifactId}-${build}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Depends:tc-osgi-equinox-loader (>= ${equinox-loader.version}), tc-osgi-bundle-utils-interfaces-${utils.interfaces.version}, tc-osgi-bundle-syslog-client-interfaces-${syslog.client.interfaces.version},tc-osgi-bundle-syslog-server-interfaces-${syslog.server.interfaces.version},tc-osgi-bundle-utils-${utils.version},tc-osgi-bundle-syslog-client-${syslog.client.version},tc-osgi-bundle-syslog-server-${syslog.server.version}
Maintainer: Collonville Thomas <collonville_tom@yahoo.fr>
Homepage: <http://collonville.thomas.free.fr>
Description: Bundle morphmath generique osgi 